.MyHeading12
        {
            border: 2px solid blue;
            text-align: center;
            width: 35%;
            color: red;
            background-color: yellow;
            cursor: pointer;
        }
    
